{% extends 'base.html.twig' %}
{% block body %}
    <script> var beers = {{ dataBeers|replace({'"':'\''})|raw }}; var brewers = {{ dataBrewers|replace({'"':'\''})|raw }};

    </script>

    <div class="text-center">
        <h3>Beers Information</h3>

        <div id="jsGrid"></div>
    </div>

{% endblock %}










